<div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Quick Example</h3>
      <a (click)="openModal(template)" class="fa fa-plus pull-right" title="add"></a>
    </div>
<ng2-smart-table [settings]="settings" (edit)="alertfn($event)" [source]="jobtitles"></ng2-smart-table>
</div>
<!-- /.box -->


<!-- Add area -->
<ng-template #template>
    <div class="modal-header">
      <h6 class="modal-title pull-left">Modal</h6>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      
    <!-- general form elements -->
  
      <!-- /.box-header -->
      <!-- form start -->
      <form role="form">
      
          <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="txtjobtitlename" class="form-control input-sm" id="txtjobtitlename" placeholder="Enter title">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Code</label>
            <input type="txtjobtitlename" class="form-control input-sm" id="txtjobtitlename" placeholder="Enter code">
          </div>      
        <div class="box-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
       
      
      </form> 
  </div>
  </ng-template>