/* You can add global styles to this file, and also import other style files */

.navbar-nav{
    display: -webkit-inline-box;
}
.navbar-custom-menu .dropdown-toggle::after
{
border: 0; 
}
.navbar-custom-menu .navbar-nav
{
    display: -webkit-inline-box;
}
.main-header .navbar
{
    padding: 0px;
}
.main-sidebar section
{
padding: 0px !important;
}